<main>
  <div class="container main-container js-main">
      <!-- *тут розміщено тестові кардки які будуть видалені
    
        js-main Додано для рефів в JS

       !---DIV  "content-control-buttons" --- 
       *для кнопок гортання сторінок

       ! хто робить картку в .hbs будь ласка дайте  на лішку клас -
       ToDo  "main-content-list__item"-зроблено Ярова Т.

    -->
  <div class="js-element-observer"></div>
  <ul class="main-content-list js-main-content-list"></ul>
  <!-- <div class="content-control-buttons js-content-control-buttons">

    <button class="content-control-button-left">
      <svg class="content-control-button__icon">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <div class="js-pagination"></div>
    <button class="content-control-button-right">
      <svg class="content-control-button__icon">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div> -->
<!-- 
  <div id="wrapper" class="container">
    <div id="pagination-container"></div>
  </div> -->

  <div id="content"></div>
  <div class="pagination pagination-my-style"></div>

  
  </div>
</main>
