<div class="backdrop backdrop-team-modal backdrop-hidden">
  <button type="button" class="team-modal-close-button">
    <svg class="close-icon">
      <use href="./images/sprite.svg#icon-close-desktop"></use>
    </svg>
  </button>
  <div class="team-modal">
    <h1>Team Coconut</h1>
    <ul class="team-card-list">
      <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Anatoliy<br />Mostovoy</h2>
        <p class="team-discription">Team Lead</p>
        <a class="team-contact" href="https://github.com/Anatoliy-Mostovoy">GitHub</a>
      </li>
      <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Ivan<br />Tryhuba</h2>
        <p class="team-discription">Scrum Master</p>
        <a class="team-contact" href="https://github.com/ivantryhuba">GitHub</a>
      </li>
      <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Nikita<br />Illin</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="https://github.com/nkpn">GitHub</a>
      </li>
      <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Olga<br />Baturina</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="https://github.com/OlhaBaturina">GitHub</a>
      </li>
      <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Yulia<br />Shcherban</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="https://github.com/Yulia82">GitHub</a>
      </li>
      <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Oksana<br />Plyas</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="https://github.com/playsoksana">GitHub</a>
      </li>
      <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Karina<br />Skrypka</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="https://github.com/KarinaSkrypka">GitHub</a>
      </li>
      <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Dmitry<br />Mikheenko</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="https://github.com/mikheenko-d-s">GitHub</a>
      </li>
      <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Ivan<br />Laver</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="https://github.com/Ereyzer">GitHub</a>
      </li>
      <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Tatyana<br />Yarovaya</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="https://github.com/YarovaT">GitHub</a>
      </li>
      <li class="team-card-list-item">
        <img src="#" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Andrey<br />Belinsky</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="https://github.com/andriko21">GitHub</a>
      </li>
    </ul>
  </div>
</div>
